<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Domain</h4>
        <div class="form-group">
            <input type="text" ng-model="subdomain" class="form-control" />
        </div>
        <h4>Token</h4>
        <div class="form-group">
            <input type="text" ng-model="token" class="form-control"  />
        </div>
        <h4>Keep files for the last X days</h4>
        <div class="form-group">
            <input type="number" ng-model="noOfDays" class="form-control" min="0" max="300" step="5" />
        </div>
        <a href="#/status" class="btn btn-primary pull-right">Delete Files</a>
    </div>
</div>